<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<section class="main_content" th:fragment="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content error_404 clearfix">
                    <h2>Ошибка 404</h2>
                    <p>Перейти на <a href="/">главную страницу</a></p>
                    <img src="/images/404.png" alt="alt" />
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>